<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-nav"><a  class="nav-link">
            BITestApp</a></div>       

        <ul class="navbar-nav">
            <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/homepage/user" class="nav-link">Home</a></li>
            <!-- <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/post" class="nav-link">Post Details</a></li> -->
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
                <li><a *ngIf="!hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
                <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>
        </ul>
    </nav>
</header>