<h1> User Posts </h1>

<div class="alert alert-success" *ngIf='message'>{{message}}</div>
 Filter By User ID: <select  margin-right="10px" name="selectedvalue" [(ngModel)]="selectedvalue" (ngModelChange)="datachanged($event)">  <option *ngFor="let id of distinctUserIds">{{id}}</option></select>  
  &nbsp;&nbsp;
  <button (click)="addPost()" margin-right="10px" class="btn btn-success">Add</button>
  <br><br>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Select</th>
        <th>User Id</th>
        <th>Id</th>
        <th>Title</th>
        <th>Body</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <!--   for (Post post: posts) {  -->
              <tr *ngFor="let post of posts">
                <td><input type="radio" (click)="selectPost(post.id)" name="Select"></td>
                <td>{{post.userId}}</td>
                <td>{{post.id}}</td>
                <td>{{post.title}}</td>
                <td>{{post.body}}</td>
                <td><button (click)="updatePost(post.id)" class="btn btn-success">Update</button></td>
                <td><button (click)="deletePost(post.id)" class="btn btn-warning">Delete</button></td>
              </tr>
      <!-- } -->
    </tbody>

  </table>

  

</div>