<H1>Create/Update Posts</H1>

<div class="container">
  <!--<div class="alert alert-warning" *ngIf="postForm.dirty && postForm.invalid">Enter valid values</div>-->
  
  <form (ngSubmit)="!postForm.invalid && savePost()" #postForm="ngForm">
    <fieldset class="form-group">
      <label>User Id</label>
      <input type="text" #userId="ngModel" 
            [(ngModel)]="post.userId" class="form-control" 
                name="userId" required="required">
    </fieldset>

    <fieldset class="form-group">
        <label>User Title</label>
        <input type="text" #title="ngModel" 
              [(ngModel)]="post.title" class="form-control" 
                  name="title" required="required">
      </fieldset>

      <fieldset class="form-group">
        <label>Body</label>
        <textarea rows="10" cols="50" #body="ngModel" 
              [(ngModel)]="post.body" class="form-control" 
                  name="body" required="required" ></textarea>
      </fieldset>

    <button type="submit" class="btn btn-success">Save</button>
  </form>  
</div>