<H2>Post Details</H2>
<form>
    <button class="btn btn-success" (click)="toggleShow()" >Show/Hide</button><br><br>
    <div class="container" *ngIf="isShown">
    
        <div class="form-group row">
            <span class="badge badge-pill badge-light" style="font-size: 20px;">User Id:</span>
            <label id="userId"  class="badge badge-pill badge-light" style="font-size: 15px;">{{post.userId}}</label>
        </div>

        <div class="form-group row">
            <span class="badge badge-pill badge-light" style="font-size: 20px;">Post Id:   </span>
            <label id="id"  class="badge badge-pill badge-light" style="font-size: 15px;">{{post.id}}</label>
        </div>

        <div class="form-group row">
            <span class="badge badge-pill badge-light" style="font-size: 20px;">Title:   </span>
            <label id="title"  class="badge badge-pill badge-light" style="font-size: 15px;">{{post.title}}</label>
        </div>

        <div class="form-group row">
            <span class="badge badge-pill badge-light" style="font-size: 20px;">Body:   </span>
            <label id="body"  class="badge badge-pill badge-light" style="font-size: 15px;">{{post.body}}</label>
        </div>
    </div>
 

    
  </form>  